<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="stylesheet" href="styles.css">
</head>
<body>
 <header>
        <div class="container">
            <h1 >Poker Game</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
  <section class="hero">
        <div class="container">
            <h2>The #1 Free poker game </h2>
        </div>
        <a href="download.html" class="btn">PLAY NOW</a>
    </section>
 <div >
<h1 style="text-decoration: underline; text-align: center; padding: 20px ;">About</h1>
<p class="col-8">
    Poker Game là điểm đến hàng đầu trong lĩnh vực giải trí trực tuyến tại Châu Á, với nhiều năm kinh nghiệm từ năm 2024. Chúng tôi cung cấp một nền tảng an toàn và đáng tin cậy cho trải nghiệm cá cược Poker trực tuyến, với sự cam kết đến tính toàn vẹn và sự riêng tư của người chơi. Với một loạt các trò chơi Poker phong phú và tỷ lệ cược tốt nhất, Poker Game hứa hẹn mang đến cho người chơi trải nghiệm giải trí Poker trực tuyến đẳng cấp nhất. </p>
<p class="col-8">
    Hãy tham gia cùng chúng tôi và khám phá thế giới Poker trực tuyến tại Poker Game ngay hôm nay!
</p>
</div>
</body>

<footer>
        <div class="container">
            <p>&copy; 2024 Poker Game. All rights reserved.</p>
        </div>
    </footer>
</html>