<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<header>
        <div class="container">
            <h1 >Porker Game</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
     <section class="hero">
        <div class="container">
            <h2>The #1 Free poker game </h2>
        </div>
    </section>
    <div class="dow" >
        <h1 style="text-decoration: underline; text-align: center; padding: 20px ; flex:none;">Hướng dẫn cài đặt Poker Game</h1>

        <div class="col-9">
            <ol>
        <li>Tải game từ trang web chính thức.</li>
        <li>Giải nén tệp tin tải về.</li>
        <li>Mở tệp tin cài đặt và làm theo hướng dẫn trên màn hình.</li>
        <li>Chờ đợi quá trình cài đặt hoàn tất.</li>
        <li>Mở game và bắt đầu chơi!</li>
            </ol>
        </div>

    </div>
    </header>


 <footer>
        <div class="container">
            <p>&copy; 2024 Porker Game. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>