<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Poker Game</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero1">
 <h21>The #1 Free poker game </h21>
        <div class="container">

        </div>
<a href="download.html" class="btn">PLAY NOW</a>


    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 Poker Game. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
